.kanban-board {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.kanban-column {
    width: 30%;
    background-color: #f4f4f4;
    padding: 10px;
    border-radius: 5px;
    margin: 0 10px;
}

.ticket {
    background-color: #fff;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
}
.App {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    width: 100%;
}
.boards_container {
    flex: 1;
    width: 100vw;
    overflow-x: auto;
    padding: 10px 20px;
}
.app_boards {
    display: flex;
    min-width: fit-content;
    gap: 30px;
}
.display-settings {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

label {
    margin-right: 20px;
}

select {
    margin-left: 10px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}
